{% extends 'appmy/base.html' %}
{% block content %}
<h2>{{specific_author}}</h2>
{% if specific_author.photo %}
<p><img src="{{specific_author.photo.url}}" width="auto" height="500" alt="{{specific_author}}"></p>
{% endif %}
<p>{{specific_author.biography}}</p>
<h3>Books:</h3>
<ul class="list-author">
	{% for b in books%}
			{% if b.author_id == specific_author.id %}
			<li>
			{{b.title_book|linebreaks}}
			</li>
			{% endif %}
	{% endfor %}
	<p class="link-read-post"><a href="{{specific_author.get_url_show_author_books}}">Show author's books</a></p>

</ul>
{% endblock %}
