html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444;
}

a {
	color: #0a6565;
	text-decoration: none;
}


p.link-read-post {
	text-align: left;
}
p.link-read-post a {
	padding: 5px;
	min-width: 100px;
	background: #0a6565;
	color: #fff;
	text-decoration: none;
}

ul.list-articles {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.list-articles li {
	border-bottom: 1px solid #0a6565;
}
/*______________________list-author___*/

ul.list-author {
	list-style: disc ;
	margin: 0;
	padding: 0;
}
ul.list-author li {
	margin: 0 0 0 20px;
}

/*______________________list-author___*/

.table-page {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.table-page tr {height: 100%;}

.clear {clear: both;}

.header {
	background: #0a6565;
	height: 60px;
}
.table-content {
	width: 100%;
	min-height: 100%;
	height: 100%;
}

ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100px;
	color: #000000;
	font-size: 25px;
	overflow: hidden;
}
ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 30px;
}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #94dcdc;
	text-decoration: none;
}

.table-content {
	width: 100%;
	min-height: 100%;
	height: 100%;
}

.left-chapters {
	margin: 0;
	background: #e1e0e0;
	border-right: 2px solid #0a6565;
	min-height: 100%;
}
.left-chapters ul {
	width: 200px;
	min-height: 100%;
	margin: 0;
	padding: 20px 10px 10px 20px;
	list-style: none;
	font-size: 20px;
}
.left-chapters ul li {
	margin: 30px 0 0 0;
	color: #000000;
}


.content {
	padding: 40px 20px 20px 40px;
	width: 100%;
	box-sizing: border-box;
}

.content-text {
	margin: 0 0 0 10px;
	color: #000;
	font-size: 20px;
	font-family: Light;
}
.content-text h1 {font-size: 30px;}

#footer {
	background: #0a6565;
  	position: sticky;
  	left: 0;
 	 bottom: 0;
  	width: 100%;
  	height: 30px;
}

#footer a {
	text-decoration: underline;
	color: #aaa;
}
img {
    border-radius: 50px;
    width: auto;
    height: 500px;
}

img.author_scale {
    transition: 1s;
   }

img.author_scale:hover {
    transform: scale(1.2);
   }

.pagination {
    display: inline-block;
}

.pagination a {
    color: #0a6565;
    float: left;
    padding: 10px 10px;
    text-decoration: none;
    transition: background-color .5s;
    margin: 0 3px;
	border-radius: 50%;
	font-size: 25px;
}

.pagination a:hover:not(.active) {background-color: rgba(128, 120, 120, 0.41);}

.center {
	text-align: center;
}
